.icon-button {
  background: transparent;
  border: 0;
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 20px;
    height: auto;
  }
}

.btn {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  @include transition(border-color background);
  outline: 0;
  &-default {
    backdrop-filter: $blurSmall;
    border: 1px solid $opaqueWhite;
    background: $transparentWhite;
    &:hover {
      border-color: $opaqueWhite;
      background: $semiOpaqueWhite;
    }
  }
  &-btn {
    color: white;
    font-family: Mulish;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 10rem;
  }
  * {
    pointer-events: none;
  }
  &-hoop {
    position: absolute;
    width: 100%;
    padding-top: 100%;
    background-color: white;
    transform: translate(-50%, -50%);
    animation: hoopAnimation 0.6s ease-out;
    animation-iteration-count: 1;
    border-radius: 100%;
    pointer-events: none;
  }
}

.select {
  z-index: 100;
  font-size: 0.8rem;
  outline: none;
  font-family: Mulish;
  -webkit-appearance: none;
  background: none;
  color: white;
  border: none;
  &-box {
    cursor: pointer;
    padding: 1rem;
    padding-right: 3rem;
    &__arrow {
      position: absolute;
      width: max-content;
      height: max-content;
      right: 1rem;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-inner {
    position: relative;
  }
  &-items {
    position: absolute;
    width: max-content;
    top: calc(100%);
    left: 50%;
    background: $opaqueWhite;
    backdrop-filter: $blurSmall;
    border-radius: 0.2rem;
    @include transition(width);
    &__single {
      cursor: pointer;
      padding: 0.5rem 1rem;
      position: relative;
      overflow: hidden;
      @include transition(background);
      &:hover {
        background: $opaqueWhite;
      }
      & + .select-items__single {
        border-top: 1px solid $opaqueWhite;
      }
    }
  }
  option {
    color: black;
    outline: none;
    border: none;
    -webkit-appearance: none;
  }
}

@keyframes hoopAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}

.forecast {
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  align-items: center;
  &-text {
    display: grid;
    grid-template-columns: 1fr;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    height: 100%;
    &__location {
      font-weight: 600;
      font-size: 24px;
      letter-spacing: -0.06em;
    }
    &__condition {
      font-weight: 600;
      font-size: 18px;
      letter-spacing: -0.06em;
    }
    &__temp {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      span {
        opacity: 0.5;
        b {
          opacity: 0.5;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
