.todos {
  display: grid;
  grid-gap: 1rem;
  &-single {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-gap: 1rem;
    align-items: center;
    position: relative;
    padding: 1rem;
    background: rgba(white, 0.1);
    border-radius: 0.25rem;
    border: 1px solid rgba(white, 0.2);
    backdrop-filter: blur(50px);
    @include transition(opacity);
    cursor: pointer;
    &.done {
      opacity: 0.25;

      p {
        text-decoration: line-through;
      }
    }
    &:hover {
      .todos-single__remove {
        opacity: 1;
      }
    }
    &__remove {
      position: absolute;
      opacity: 0;
      @include transition(opacity background border);
      top: 0;
      right: 0;
      width: 2rem;
      height: 2rem;
      border-radius: 0.25rem;
      svg {
        max-width: 0.5rem;
      }
    }
  }
}
