$opaqueWhite: rgba(white, 0.1);
$semiOpaqueWhite: rgba(white, 0.2);
$transparentWhite: rgba(white, 0);
$dark: rgb(31, 31, 31);
$blur: blur(50px);
$blurSmall: blur(5px);
$error: rgb(255, 0, 64);
$primary: rgb(0, 153, 255);

@mixin transition(
  $prop,
  $time: 0.5s,
  $easing: cubic-bezier(0.14, 0.44, 0.13, 1.05),
  $delay: 0s
) {
  $transition: ();

  @for $i from 1 through length($prop) {
    @for $j from 0 to (length($prop)) - (length($time)) {
      $time: join($time, nth($time, -1));
    }
    @for $j from 0 to (length($prop)) - (length($easing)) {
      $easing: join($easing, nth($easing, -1));
    }
    @for $j from 0 to (length($prop)) - (length($delay)) {
      $delay: join($delay, nth($delay, -1));
    }

    $transition: append(
      $transition,
      (nth($prop, $i) nth($time, $i) nth($easing, $i) nth($delay, $i)),
      $separator: comma
    );
  }
  transition: $transition;
}
